<p>{{ currentDate() | date:'medium' }}</p>

<p>Status: {{ booksResource.status() }}</p>

<button type="button" (click)="reloadList()" class="btn btn-green">Reload</button>

@if (booksResource.hasValue()) {
    <p>Anzahl Bücher: {{ booksResource.value().length }}</p>

    @for (b of booksResource.value(); track b.isbn) {
        <app-book-card
            (rateUp)="doRateUp($event)"
            (rateDown)="doRateDown($event)"
            (delete)="doDeleteBook($event)"
            [book]="b"
            [minRating]="1"
            [maxRating]="5" />
    }
}